<h2>Edit a Farm</h2>

<%= form_for @farm do |f| %>
	<%= render 'form', f: f %>
	<h3>Edit Areas:</h3>
	<%= f.fields_for :areas do |area| %>
		<%= area.label :name %>
		<%= area.text_field :name %><br>
		
		<%= area.label :area_type %>
		<%= area.text_field :area_type %><br>

		<%= area.label :capacity %>
		<%= area.number_field :capacity %><br>

		<%= area.label :quantity %>
		<%= area.number_field :quantity %><br><br>

		<%= area.hidden_field :farm_id, :value => @farm.id %>		

	<% end %>

	<%= f.submit %><br><br>
<% end %>

<%= link_to 'Back to Farm', farm_path %><br><br>