<h2>Edit:</h2>
<%= form_for @animal do |f| %>

	<%= render 'animal_fields', f: f %>

	<h3>Select an Area:</h3>
	
		<%= render 'radio_buttons' %>


	<%= f.submit %><br><br>

<% end %>

<%= link_to 'Back to Animal', animal_path %>