<h1>Farm Animals of <%= @farm.name %></h1>

<% @animals.each do |animal| %>
	Animal Name: <%= link_to animal.name, animal_path(animal), :class => "show_animal" %><br>
<% end %><br><br> 

<h2>Largest Animals (over 100 pounds):</h2>
<% @large_animals.each do |l| %>
	Name: <%= l.name %><br>
<% end %><br><br>

<h2>Smallest Animals (less than or equal to 100 pounds):</h2>
<% @small_animals.each do |s| %>
	Name: <%= s.name %>
<% end %><br><br>

<%= link_to 'Back to Farm', farm_path(@farm) %><br><br>
