<h2>Add a New Animal</h2>
<%= form_for Animal.new, :url => new_farm_animal_path(@farm, Animal.new) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %><br><br>

	<%= f.label :age %>
	<%= f.text_field :age %><br><br>

	<%= f.label :sex %>
	<%= f.text_field :sex %><br><br>

	<%= f.label :color %>
	<%= f.text_field :color %><br><br>

	<%= f.label :weight %>
	<%= f.text_field :weight %><br><br>

	<%= f.label :pregnant %>
	<%= f.check_box :pregnant %><br><br>

	<%= f.label :date_bred %>
	<%= f.date_select :date_bred, :order => [:month, :day, :year] %><br><br>

	<%= f.label :estimated_due_date %>
	<%= f.date_select :estimated_due_date, :order => [:month, :day, :year] %><br><br>

	<%= f.submit %>

<% end %>