<h2>Add a New Animal</h2>
<%= form_for Animal.new, :url => farm_animals_path(@farm, Animal.new) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %><br><br>

	<%= f.label :age %>
	<%= f.text_field :age %><br><br>

	<%= f.label :sex %>
	<%= f.text_field :sex %><br><br>

	<%= f.label :color %>
	<%= f.text_field :color %><br><br>

	<%= f.label :weight %>
	<%= f.text_field :weight %><br><br>

	<%= f.label :animal_type %>
	<%= f.text_field :animal_type %><br><br>

	<%= f.label :pregnant %>
	<%= f.check_box :pregnant %><br><br>

	<%= f.label :date_bred %>
	<%= f.date_select :date_bred, :order => [:month, :day, :year] %><br><br>

	<%= f.label :estimated_due_date %>
	<%= f.date_select :estimated_due_date, :order => [:month, :day, :year] %><br><br>

	<%= collection_radio_buttons :animal, :area_id, @areas, :id, :name %>
	<h3>Create a New Baby Animal:</h3>
	<%= f.fields_for :baby_animals do |baby_animal| %>
		<%= baby_animal.label :name %>
		<%= baby_animal.text_field :name %><br>
		
		<%= baby_animal.label :age %>
		<%= baby_animal.text_field :age %><br>

		<%= baby_animal.label :sex %>
		<%= baby_animal.number_field :sex %><br>

		<%= baby_animal.label :color %>
		<%= baby_animal.number_field :color %><br>

		<%= baby_animal.label :weight %>
		<%= baby_animal.number_field :weight %><br>

		<%= baby_animal.label :animal_type %>
		<%= baby_animal.number_field :animal_type %><br><br>

		<%= baby_animal.hidden_field :animal_id, :value => @animal.id %>
	<% end %>

	<%= f.submit %>

<% end %>