<h2>Your Animal:</h2>

<h3><%= @animal.name %></h3>
	Age: <%= @animal.age %><br>
	Sex: <%= @animal.sex %><br>
	Color: <%= @animal.color %><br>
	Weight: <%= @animal.weight %><br>
	Type: <%= @animal.animal_type %><br>
	Pregnant?: <%= pregnant?(@animal) %><br>
	<% if @animal.pregnant == true %>
		Date bred: <%= formatted_bred_date(@animal) %><br>
		Estimated due date: <%= formatted_due_date(@animal) %><br>
	<% end %>

	Area: <%= @animal.area.name %><br><br>
	Farm ID: <%= @animal.area.farm_id %><br><br>

	<%= link_to 'Back to Farm', farm_path(@animal.area.farm) %><br><br>
	<%= link_to 'Edit Animal', edit_animal_path(@animal) %><br><br>
	<%= link_to 'Delete Animal', animal_path(@animal), method: :delete, data: { confirm: 'Are you sure?'} %>