<h2>Your Animal:</h2>

<h3><%= @animal.name %></h3>
	Age: <%= @animal.age %><br>
	Sex: <%= @animal.sex %><br>
	Color: <%= @animal.color %><br>
	Weight: <%= @animal.weight %><br>
	Type: <%= @animal.animal_type %><br>
	Pregnant?: <%= @animal.pregnant %><br>
	<% if @animal.pregnant == true %>
		Date bred: <%= @animal.date_bred %><br>
		Estimated due date: <%= @animal.estimated_due_date %><br>
	<% end %>
	Area: <%= @animal.area.name %><br><br>

<h4>Babies (if applicable):</h4>

	<% @animal.baby_animals.each do |baby_animal| %>
		Name: <%= baby_animal.name %><br>
		Sex: <%= baby_animal.sex %><br>
		Color: <%= baby_animal.color %><br>
		Weight: <%= baby_animal.weight %><br>
		Type: <%= baby_animal.animal_type %><br>
	<% end %>

	<%= link_to 'Farms', farms_path %><br><br>