		<li>Animal Area: <%= link_to area.name, area_path(area.id), class: "link-yellow" %></li>		
		<li>Area Type: <%= area.area_type %></li>
		<li>Area Capacity: <%= area.capacity %></li>
		<li>Area Quantity: <%= area.quantity %></li>
		<li>Area Availability: <%= area.availability %></li><br>