<h2>Edit the Area:</h2>
	<%= form_for @area, url: area_path, method: :patch do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>
		
		<%= f.label :area_type %>
		<%= f.text_field :area_type %><br>

		<%= f.label :capacity %>
		<%= f.number_field :capacity %><br>

		<%= f.label :quantity %>
		<%= f.number_field :quantity %><br><br>

		<%= f.hidden_field :farm_id, :value => @farm.id %>

		<%= f.submit %>
	<% end %>