<%= render 'errors' %>
<h2>Edit the Area:</h2>
	<%= form_for @area, url: area_path, method: :patch do |f| %>
		
		<%= render '/farms/area_fields', area: f %>

		<%= f.submit %>
	<% end %><br><br>
<%= link_to 'Back to Area', area_path %>