<%= render '/layouts/alerts' %>

<h2>Area:</h2>

	<%= render 'area_details', area: @area %>

<%= link_to 'Edit Area', edit_area_path(@area) %><br><br>
<%= link_to 'Farms', farms_path %><br><br>
<%= link_to 'Delete Area', area_path(@area), method: :delete, data: { confirm: 'Are you sure?'} %>