<h2>Area:</h2>
		
		<li class="areaName">Animal Area: <%= @area.name %></li>		
		<li class="areaType">Area Type: <%= @area.area_type %></li>
		<li class="areaCapacity">Area Capacity: <%= @area.capacity %></li>
		<li class="areaQuantity">Area Quantity: <%= @area.quantity %></li>
		<li class="areaAvailability">Area Availability: <%= @area.availability %></li><br>
		<button class="js-next" data-id="<%=@area.id%>">Click to See Next Area</button><br><br>


<%= link_to 'Edit Area', edit_area_path(@area) %><br><br>
<%= link_to 'Back to Farm', farm_path(@area.farm) %><br><br>
<%= link_to 'Delete Area', area_path(@area), method: :delete, data: { confirm: 'Are you sure?'} %>